<h1>Editing Course Completed</h1>

<%= render 'form' %>

<%= link_to 'Show', [@course_completed.user, @course_completed] %> |
<%= link_to 'Back', user_course_completeds_path(@course_completed.user) %>
